
/* General */

:root {
    --bg: 15, 15, 15;
    --low-contrast: 10, 10, 10;
    --contrast: 250, 250, 250;
    --contrast-alt: 150, 150, 150;
    --content-width: 60rem;
    --gradient: linear-gradient(45deg, rgba(255,14,222,1) 0%, rgba(255,251,63,1) 100%);
    --transition-time: 0.3s;
    --bezier: cubic-bezier(0.8, 0, 0.2, 1);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}


/* Animations */

@keyframes appear-from-bottom {
    from { transform: translateY(150%); }
    to { transform: translateY(0); }
}
@keyframes appear-from-top {
    from { transform: translateY(-150%); }
    to { transform: translateY(0); }
}
@keyframes appear-from-left {
    from { transform: translateX(-150%); }
    to { transform: translateX(0); }
}
@keyframes appear-from-right {
    from { transform: translateX(150%); }
    to { transform: translateX(0); }
}
.appear-from-bottom { overflow: hidden; padding: 2px; }
.appear-from-bottom > div { transform: translateY(150%); }
.animate-from-bottom { animation: appear-from-bottom 1s var(--bezier) forwards; }
.appear-from-top { overflow: hidden; padding: 2px; }
.appear-from-top > div { transform: translateY(-150%); }
.animate-from-top { animation: appear-from-top 1s var(--bezier) forwards; }
.appear-from-left { overflow: hidden; padding: 2px; }
.appear-from-left > div { transform: translateX(-150%); }
.animate-from-left { animation: appear-from-left 1s var(--bezier) forwards; }
.appear-from-right { overflow: hidden; padding: 2px; }
.appear-from-right > div { transform: translateX(150%); }
.animate-from-right { animation: appear-from-right 1s var(--bezier) forwards; }


/* Text */

.regular { font-family: 'Poppins'; }
.accent { font-family: 'Italiana'; }

.low-contrast { color: rgb(var(--low-contrast)); }
.contrast { color: rgb(var(--contrast)); }
.contrast-alt { color: rgb(var(--contrast-alt)); }
.gradient-text {
    background: var(--gradient);
    background-clip: text;
    color: transparent;
}

.large { font-size: 4rem; line-height: 5rem; }
.medium { font-size: 2rem; }
.small { font-size: 1.1rem; }

.thin { font-weight: 100; }
.thin-ish { font-weight: 300; }
.thick-ish { font-weight: 500; }
.thick { font-weight: 600; }


/* Structure */

.flex-container { display: flex; flex-wrap: wrap; }

.grid-centre { display: grid; place-content: center; }
.centre-text { text-align: center; }
.align-centre { align-items: center; }
.justify-centre { justify-content: center; }

.grid-even { display: grid; grid-template-columns: 1fr 1fr; }
.grid-auto { display: grid; grid-template-columns: auto auto; }
.grid-repel { display: grid; grid-template-columns: 1fr auto; }
.grid-min { display: grid; grid-template-columns: min-content min-content; }

.gap-05 { gap: 0.5rem; }
.gap-1 { gap: 1rem; }
.gap-2 { gap: 2rem; }
.gap-3 { gap: 3rem; }
.gap-5 { gap: 5rem; }

.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-5 { margin-bottom: 5rem; }
.mb-responsive { margin-bottom: 0; }

.skinny { width: var(--content-width); max-width: 90vw; margin: auto; }
.spacer { height: 30vh; }


/* Components */

canvas { position: fixed; z-index: -1; pointer-events: none; }

button { border: none; background: none; cursor: pointer; }
a { text-decoration: none; }
a svg { height: 0.5em; width: 0.5em; transform: rotate(0deg); transition: transform var(--transition-time); }
a:hover svg { transform: rotate(45deg); }

label {
    position: absolute;
    left: -10000vw;
}
input, textarea {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    color: rgb(var(--contrast));
    font-family: 'Poppins';
    background: none;
    border: none;
    border-bottom: 1px solid rgb(var(--contrast));
    transition: background var(--transition-time);
}
input:hover, input:focus, textarea:hover, textarea:focus {
    background: rgba(var(--contrast-alt), 0.05);
}
textarea {
    resize: vertical;
    min-height: 10rem;
}   
input::placeholder, textarea::placeholder {
    color: rgb(var(--contrast));
    font-family: 'Poppins';
}

.badge {
    padding: 0.2em 0.5rem; 
    border-radius: 0.5rem;
    width: fit-content;
    border: 1px solid rgb(var(--contrast-alt));
}

.hr {
    height: 1px;
    width: 100%;
    background-color: rgba(var(--contrast-alt), 0.5);
    margin: 5rem 0;
}

.icon {
    color: rgb(var(--contrast));
    fill: rgb(var(--contrast));
}

.thumbnail {
    position: absolute;
    pointer-events: none;
    display: block;
    z-index: 1000;
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}

.no-dots {
    list-style: none;
}


/* Specific */

body { background-color: rgb(var(--bg)); overflow-x: hidden; }

#menu {
    position: fixed;
    bottom: 100vh;
    background-color: rgb(var(--low-contrast));
    height: 100vh;
    width: 100vw;
    z-index: 1000000;
    transition: bottom 1s var(--bezier);
}
#open-menu { position: fixed; top: 3rem; left: 3rem; }
#close-menu { position: absolute; top: 3rem; left: 3rem; }
#open-menu svg, #close-menu svg { height: 2rem; width: 2rem; }

#hero { min-height: 100vh; }

.tool-icon {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    border-radius: 199%;
}
.tool-icon::after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    aspect-ratio: 1;
    background-image: var(--gradient);
    border-radius: 100%;
    z-index: -1;
}

#projects li { padding: 2rem; border-bottom: 1px solid rgba(var(--contrast-alt), 0.5); }
#projects li a { transition: color var(--transition-time); }
.dimmed { color: rgba(var(--contrast), 0.2); }

footer { background-color: rgb(var(--low-contrast)); padding: 5rem 0; }


/* Projects */

@keyframes shrink {
    0% { width: 100vw; height: 100vh; opacity: 1; }
    20% { opacity: 0; }
    100% { width: 0; height: 0; opacity: 0; }
}
@keyframes notice-me {
    0% { transform: translateY(0) translateX(-50%); }
    50% { transform: translateY(50%) translateX(-50%); }
    100% { transform: translateY(0) translateX(-50%); }
}
@keyframes fade-in {
    from { transform: translateY(5%) scale(0.9); opacity: 0; }
    to { transform: initial; opacity: 1; }
}

#scroll {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(var(--bg), 0.5);
    padding: 0.5rem 1rem;
    border-radius: 100vw;
    animation: notice-me 2s infinite;
}

.header-img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: -1;
    animation: shrink;
    animation-timeline: view(0 100vh);
}

.gallery-img {
    width: 100%;
    display: block;
    animation: fade-in;
    animation-timeline: view(50vh 0);
}

.project-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/* Responsiveness */

@media (max-width: 1000px) {

    .header-img {
        all: initial;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

}

@media (max-width: 850px) {

    .large { font-size: 3rem; line-height: 3.5rem; }
    .medium { font-size: 1.5rem; }
    .small { font-size: 1rem; }

    .grid-even { grid-template-columns: 1fr; grid-template-rows: auto auto; }
    .project-info { grid-template-columns: 1fr; grid-template-rows: auto auto; }
    
    .gap-05 { gap: 0.5rem; }
    .gap-1 { gap: 0.5rem; }
    .gap-2 { gap: 1rem; }
    .gap-3 { gap: 2rem; }
    .gap-5 { gap: 2rem; }
    
    .mb-responsive { margin-bottom: 1rem; }
    .mb-5 { margin-bottom: 2rem; }

    .hr { margin: 2rem 0; }

}

@media (max-width: 500px) {

    .large { font-size: 2rem; line-height: 2.2rem; }
    .medium { font-size: 1rem; }
    .small { font-size: 0.8rem; }

    input, textarea {
        padding: 1rem;
    }

}