@font-face {
    font-family: 'Satoshi Regular';
    src: url(../fonts/Satoshi/Satoshi-Regular.otf);
}

@font-face {
    font-family: 'Satoshi Bold';
    src: url(../fonts/Satoshi/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'Editorial New Light';
    src: url(../fonts/EditorialNew/EditorialNew-Light.otf);
}

:root {

    /* Colours */
    --fg: #000;
    --bg: #fff;
    --box: #f0f0f0;

    /* Layout */
    --u: 20px;
    --r: 5px;

    /* Type */
    --font--small: 12px;
    --font--large: 40px;
    --font--regular: 'Satoshi Regular', sans-serif;
    --font--bold: 'Satoshi Bold', sans-serif;
    --font--accent: 'Editorial New Light', sans-serif;

    /* Animation */
    --time: 0.4s;
    --time--short: 0.2s;
    --bezier: cubic-bezier(0.7, 0, 0.3, 1);

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::selection {
    background: var(--fg);
    color: var(--bg);
}

body {
    background-color: var(--bg);
}

ul {
    list-style: none;
}