@font-face {
    font-family: 'Satoshi';
    src: url(/fonts/Satoshi-Light.otf);
}

@font-face {
    font-family: 'Array';
    src: url(/fonts/Array-Bold.otf);
}

.tc-p {
    color: rgb(var(--primary));
}

.tc-s {
    color: rgb(var(--secondary));
}

.ts-1 {
    font-size: var(--size-1);
}

.ts-2 {
    font-size: var(--size-2);
}

.ts-3 {
    font-size: var(--size-3);
}

.display {
    font-size: 15rem;
    line-height: 0.8em;
    font-family: 'Array';
}